<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>
  <body>
    <div class="container my-4 mt-4">

<h4>      Contact Us
</h4>
<p> Feel free to contact me , if you have any doubt on regarding this project
</p>


<p><b>Email:</b> sharmapyashy@gmail.com</p>



<h4>Stay Connected</h4>
<p>linkdin:- https://www.linkedin.com/in/yash-sharma-2ab129273</p>
<h4>Location
</h4>
<p>Yash Sharma, Gujrat,india</p>



    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>